<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <form action="/" method="POST">
        <input name="msg" type="text" placeholder="Enter Username">
        <button type="submit">Login</button>
    </form>
</body>
<script>
    document.querySelector('form').addEventListener('submit',(e)=>{
        let username=e.target.firstElementChild.value
        localStorage.setItem('username',username)
    })
</script>
</html>